* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;

}

header {
	background-color: #1F2937;
	color: #F9FAF8;
	text-decoration: none;
}

a { color: inherit; } 
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.logo {
	font-size: 24px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 820px;
  height: 60px;
  margin: 0 auto;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 10px;
}

h1 {
	font-weight:bolder;
	font-size: 48px;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1f2937;
	height: 300px;
}

.hero-left {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 35%;
	color: #F9FAF8;
}

.hero-button {
	margin-top: 10px;
	background-color: #3882F6;
	color: #F9FAF8;
	border-radius: 14px;
	cursor: pointer;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3882F6;
}

main section h1 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
}

.container {
	display: flex;
	justify-content: center;
}

.box {
	border: solid 3px #3B82F6;
	height: 150px;
	width: 150px;
	border-radius: 10px;
	margin: 25px;
	margin-bottom: 0;
}

.subtext {
	display: flex;
	justify-content: center;
	gap: 56px;
	padding: 10px;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #E5E7EB;
	padding: 7em 13em;
}

.quote p {
	align-self: flex-end;
	font-weight: bolder;
	font-size: 24px;
	color: #1f2937;
}

.quote em {
	font-size: 36px;
	font-weight: 100;
	color: #1f2937;
}



footer {
	background-color: #1f2937;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em 0;
}